.blanco {
  color: #ffffff;
}

.Color-seleccion{
  color: rgb(255, 255, 255)
}

.background-container {
  width: 100%;
  height: 100vh;
  position: relative;
  background: url("https://scontent-bog2-1.xx.fbcdn.net/v/t39.30808-6/274299549_364844718795918_4595167428325005497_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=c83dfd&_nc_ohc=G5_RxXHFl4AAX_MlvGT&_nc_ht=scontent-bog2-1.xx&oh=00_AfBu54CahDl4n2pobW6dktHfXarDaeAEl36TDEZv-XXymA&oe=658FA042") no-repeat center;
  background-size: cover;
  display: flex;
  align-items: center;
}
.card-container {
  width: 45rem;
  height: 30rem;
  border: 3px solid #fafafa10;
  margin: 0 auto;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.glass-effect {
  background: #fafafa10;
  backdrop-filter: blur(0.4rem)
}

.registrarHora {
    border: none;
    border-radius: 14px;
    background-color: rgb(255, 255, 255);
    background-size: auto;
    font-family: "Open Sans" !important;
    font-size: 1em!important;
    height: 46px;
    text-align: center !important;
}